
/* Begin body styles */
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: .25% .25% 0;
}

body h1 {
  font-family: Georgia, serif;
  color: #63141C;
	border-style: solid;
	border-color: #B7B1AA;
	border-width: thick;
	background-color: #B7B1AA;
}
/* End body styles */


#banner-image img {

  height: auto;
  width: 100%;
}

.banner h1 {

	border-style: none;

}

.section-title {
	width: 100%;
	color: #B7B1AA;
	padding: 5px;
}

/* Begin navbar */
/* Add background color to the top navigation */
.topnav {
    background-color: #B7B1AA;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #63141C;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #CEC3BB;
    color: white;
}

/* End navbar */

/* Begin footer styles */
.footer {
	position:relative;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #f2f2f2;
	background-color: #B7B1AA;
	text-align: center;
	font-size: smaller;
	padding: 0.25% .25% .25% .25%;
}
/* End footer styles */
