body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}

h1 h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

/* logo section */
.logo {
	background-color: yellow;

	width: fit-content;

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.logo h1 {
	color: green
}

.navbar h2 {

		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

		background-color: red
}

/* link text */
	a:link {
	    text-decoration: none;
	}

	a:visited {
	    text-decoration: none;
	}

	a:hover {
	    text-decoration: underline;
	}

	a:active {
    text-decoration: underline;
}
}
